<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-1.12.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <style>
        *{
            padding:0px;
            margin:0px;
        }
        .box{
            width:80%;
            margin: 0px auto;
            padding-top:20px;
        }
        .formbox{
            width:40%;
        }
        body{
            background-image: url("images/t01330527cde4cfc826.jpg");
            background-size: 100%;
        }
    </style>
</head>
<body>
<div class="box">
    <h1>欢迎登录：</h1>
    <div class="formbox">
        <form>
            <div class="form-group">
                <label for="yonghuming">用户名</label>
                <input type="text" class="form-control" name="admin" id="name" placeholder="">
            </div>
            <div class="form-group">
                <label for="mima">密码</label>
                <input type="password" class="form-control" name="mima" id="mima" placeholder="">
            </div>
            <button type="button" class="btn btn-success" id="denglu">登录</button>
            <a href="/">
                <button type="button" class="btn btn-success">返回首页</button>
            </a>
        </form>
    </div>
</div>
<script>
    $("#denglu").click(function(){
        $.ajax({
            "url":"/adminlogin",
            "data":{
                "admin":$("input[name=admin]").val(),
                "mima":$("input[name=mima]").val()
            },
            "success":function(data){
                if(data==-2){
                    alert("服务器崩溃")
                }else if(data==-1){
                    alert("登录错误")
                }else{
                    window.location="/index"
                }
            }
        })
    })
</script>
</body>
</html>
