<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-1.12.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <style>
        *{
            padding:0px;
            margin:0px;
        }
        .box{
            width:60%;
            margin: 0px auto;
            padding-top:20px;
        }
        .changebox{
            display: none;
        }
        body{
            background-image: url("images/t01330527cde4cfc826.jpg");
            background-size: 100%;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">酒店订房</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li><a href="/order">在线预订</a></li>
                <li class="active"><a href="/changeorder">订单查询</a></li>
                <li><a href="/index">酒店管理</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="box">
<div class="yzbox" style="width:60%;margin:0 auto">
    <form>
        <div class="form-group">
            <label for="yonghuming">用户名</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="联系人手机号">
        </div>
        <p class="namep"></p>
        <div class="form-group">
            <label for="mima">验证码</label>
            <input type="number" class="form-control" name="mima" id="mima" placeholder="">
            <button type="button" class="btn btn-success" id="yzm" style="margin-top:20px;">获取验证码</button>
        </div>
        <p class="mimap"></p>
    </form>
</div>

    <div class="ordernum">
    </div>
    <div class="panel panel-default changebox" style="margin-top:20px;">
        <div class="panel-heading">订单</div>
        <div class="panel-body">
            <div >
                <form action="/updataorder" method="get">
                    <div class="form-group">
                        <label for="yonghuming">入住日期</label>
                        <input type="date" class="form-control" name="starttime" id="starttime">
                    </div>
                    <p class="namep"></p>
                    <div class="form-group">
                        <label for="yonghuming">离店日期</label>
                        <input type="date" class="form-control" name="endtime" id="endtime">
                    </div>
                    <div class="form-group">
                        <label for="yonghuming">房间类型</label>
                        <select name="roomnumber" class="roomnumber">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="yonghuming">预定数量</label>
                        <input type="number" class="form-control" name="roomnum" id="roomnum">
                    </div>
                    <div class="form-group">
                        <label for="yonghuming">入住姓名</label>
                        <input type="text" class="form-control" name="checkinname" id="checkinname" placeholder="多人请用”,“隔开">
                    </div>
                    <div class="form-group">
                        <label for="yonghuming">联系人</label>
                        <input type="text" class="form-control" name="contactsname" id="contactsname">
                    </div>
                    <div class="form-group">
                        <label for="yonghuming">联系人电话</label>
                        <input type="number" class="form-control" name="contactstel" id="tel" placeholder="手机号">
                    </div>
                    <div class="form-group">
                        <label for="yonghuming">留言</label>
                        <textarea name="ordercontent"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="修改订单" class="btn btn-success">
                        <a href="/changeorder">
                            <button type="button" class="btn btn-success" id="delorder">取消订单</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
</body>
<script>
    var nameb=false
    var mimab=false
    $("#name").blur(function(){
        var val=$(this).val()
        checkPhone(val)
        if(checkPhone($(this).val())==true){
            $.ajax({
                "url":"/checkctel",
                "data":{
                    "name":val
                },
                "success":function(data){
                    if(data==-2){
                        alert("服务器错误")
                    }else if(data==1){
                        $(".namep").html("用户名存在")
                        nameb=true
                    }else{
                        $(".namep").html("该用户名不存在")

                    }
                }
            })
            showorder()
        }
    })
    function checkPhone(phone){
        if(!(/^1[34578]\d{9}$/.test(phone))){
            alert("手机号码有误，请重填");
            return false;
        }else{
            return true;
        }
    }
    $("#yzm").click(function(){
        var yzm=parseInt(Math.random()*10000)
        $(this).html(yzm)
    })
    $("#mima").blur(function(){
        if($(this).val()== $("#yzm").html()){
            mimab=true
        }else{
            alert("验证码错误")
        }
        showorder()
    })
    function showorder() {
        if(mimab == true && nameb==true){
            $.ajax({
                "url":"/getroomtype",
                // "type":"jsonp",
                "success":function(data){
                    var data=data.data

                    for(var i=0;i<data.length;i++){
                        $(".roomnumber").append('<option value="'+data[i].roomtypename+'">'+data[i].roomtypename+'</option>')
                    }
                }
            })
            $.ajax({
                "url":"/getorderuser",
                "data":{
                    "data":$("#name").val()
                },
                "success":function(data){
                    console.log(data)
                    if(data.length==0){
                        alert("无此订单")
                    }else{
                        for(var i=1;i<data.length+1;i++){
                            $(".ordernum").append('<button class="btn btn-success orderlist">订单'+i+'</button>')
                        }
                        $(document).on("click",".orderlist",function(){
                            var index=$(this).index()
                            console.log(index)
                            var datas=data[index]
                            xr(datas)
                        })
                    }
                }
            })

        }
    }
    function xr(data){
        $(".changebox").css("display","block")
        $(".yzbox").css("display","none")
        $("input[name=starttime]").val(data.starttime)
        $("input[name=endtime]").val(data.endtime)
        $("input[name=roomnum]").val(data.roomnum)
        $("input[name=checkinname]").val(data.checkinname)
        $("input[name=contactsname]").val(data.contactsname)
        $("input[name=contactstel]").val(data.contactstel)
        $(".ordercontent").val(data.ordercontent)
        $("select").val(data.roomnumber)
    }
    $("#delorder").click(function(){
        $.ajax({
            "url":"/delorder",
            "data":{
                contactstel:  $("input[name=contactstel]").val(),
                roomnumber:  $("select").val(),
            },
            "success":function(data){
                window.location="/ordercheck"
            }
        })

    })
</script>
</html>
