<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="css/jquery-ui.css" />
    <link rel="stylesheet" href="themes/office/pqgrid.css" />
    <link rel="stylesheet" href="css/pqgrid.min.css" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-1.12.3.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/pqgrid.min.js"></script>
    <style>
        *{
            padding:0px;
            margin:0px;
        }
        /*body{*/
        /*background-image: url("image/01300000829059126715068316312.jpg");*/
        /*background-size: 100%;*/
        /*}*/
        .box{
            width:60%;
            margin:0 auto;
        }
        .inforbox p{
            display: inline-block;
            padding-left:20px;
        }
        body{
            background-image: url("images/t01330527cde4cfc826.jpg");
            background-size: 100%;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">酒店订房管理系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">入住管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/lobbycheck">大堂入住</a></li>
                        <li><a href="/ordercheck">订单入住</a></li>
                    </ul>
                </li>
                <li class="active"><a href="/checkout">退房管理</a></li>
                <li><a href="/record">入房记录查询</a></li>
                <li><a href="/roominfor">查询房间信息</a></li>
                <li><a href="/roomadmin">房间管理</a></li>
                <li><a href="/roompic">房间预览图</a></li>
                <li><a href="/changemima">修改密码</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/del">退出系统</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="box">
            <input type="number" id="roomhaoseach" placeholder="请输入房间号" class="form-control" style="width: 40%;">
            <button class="btn btn-success" id="getseach" style="margin-top:10px">查询</button>
    <div class="inforbox"  style="display: none; margin-top:20px;">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h3 class="panel-title">顾客信息</h3>
            </div>
            <div class="panel-body">
                <div>
                    <div class="form-group">
                        <label for="yonghuming">证件类型</label>
                        <p class="cardtype"></p>
                    </div>
                    <div class="form-group">
                        <label for="yonghuming">证件号</label>
                        <p  class="cardnum"></p>
                    </div>
                    <div class="form-group">
                        <label for="yonghuming">姓名</label>
                        <p class="contactsname" id="contactsname"></p>
                    </div>
                    <div class="form-group">
                        <label for="yonghuming">性别</label>
                        <p class="sex"> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h3 class="panel-title">房间信息</h3>
            </div>
            <div class="panel-body">
                <div>
                    <div class="form-group">
                        <label for="yonghuming">日期</label>
                        <p class="timenum"></p>天
                    </div>
                    <div class="form-group">
                        <label for="yonghuming">房间类型</label>
                        <p class="roomnumber"></p>
                    </div>
                    <div class="form-group">
                        <label for="yonghuming"> 金钱 </label>
                        <p class="money"></p> 元/天
                    </div>
                    <div class="form-group">
                        <label for="yonghuming">房间号</label>
                        <p class="roomhao"></p>
                    </div>
                    <div class="form-group">
                        <label for="yonghuming">入住姓名</label>
                        <p class="checkinname"></p>
                    </div>
                    <div class="form-group">
                        <label for="yonghuming">支付金额</label>
                        <p class="ordermoney"></p>
                    </div>
                    <div class="form-group">
                        <input type="button" value="确认退房"  class="btn btn-success" id="updateorder">
                        <a href="/index"><input type="button" value="取消" class="btn btn-success"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    var money=0
    var endtime=0
    var timenum=0
    $("#getseach").click(function(){
        $.ajax({
            url:"/getrecord",
            "data":{
                "data":$("#roomhaoseach").val()
            },
            "success":function(data){
                if(data==null){
                    alert("查无此单")
                }else{
                    $(".inforbox").css("display","block")
                    var arr=data.starttime.split("-").join("")
                    var date=new Date()
                    var time=date.toLocaleDateString().split("/")
                    var times=""
                    for(var i=0;i<time.length;i++){
                        if(time[i]<10){
                            time[i]="0"+time[i]
                        }
                        times+=time[i]
                    }
                    var starttime=parseInt(arr)
                    endtime=parseInt(times)
                    timenum=endtime-starttime
                    if(timenum<=0){
                        timenum=1
                    }
                    $(".timenum").html(timenum)
                    $(".cardtype").html(data.cardtype)
                    $(".cardnum").html(data.cardnum)
                    $(".contactsname").html(data.contactsname)
                    $(".contactstel").html(data.contactstel)
                    $(".endtime").html(data.endtime)
                    $(".ordercontent").html(data.ordercontent)
                    $(".roomhao").html(data.roomhao)
                    $(".roomnumber").html(data.roomnumber)
                    $(".checkinname").html(data.checkinname)
                    $(".sex").html(data.sex)
                    $.ajax({
                        "url":"/getroomtype",
                        "success":function(data){
                            var data=data.data
                            var val=$(".roomnumber").html()
                            getroomnum(val,data)
                        }
                    })
                }

            }
        })
    })
    function getroomnum(val,data){
        for(var i=0;i<data.length;i++){
            if(data[i].roomtypename == val){
                money=data[i].money
                $(".money").html(data[i].money)
                var ordermoney=timenum*money
                $(".ordermoney").html(ordermoney)
            }
        }
    }
$("#updateorder").click(function(){
    $.ajax({
        "url":"/updateorder",
        "data":{
            endtime:endtime,
            ordermoney:$(".ordermoney").html(),
            roomhao:$(".roomhao").html()
        },
        "success":function(data){
            alert("退房成功")
            window.location="/index"
        }
    })
})
</script>
</body>
</html>
